{% extends "pages/toidautu/NhandinhTT_DexuatGD_list.html" %}
{% load toidautu_tags %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags %}
{% load staticfiles %}
{% block meta_title %}{{ Post_moinhat_1.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for Post_moinhat_1 as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ Post_moinhat_1.description }}
{% endmetablock %}{% endblock %}

{% block title %} NHẬN ĐỊNH THỊ TRƯỜNG {% endblock title %}


{% block stylesheets %}

  {{ block.super }}
  <script src="{% static "js/gauge.js" %}"></script>   

{% endblock stylesheets %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Nhận định Thị trường & Đề xuất Giao dịch
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-eye"></i>  {{Post_moinhat_1.viewed}} Lượt xem </li>
 
  </ol>

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}
</section>

<!-- Main content -->
<section class="content">

      <div class="row">
        <div class="col-md-12">

          <div class="box">
            <div class="box-header with-border">

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>   
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>

                   <div class="blog">  
                 <div class="blog-item">
     {% if settings.BLOG_USE_FEATURED_IMAGE and Post_moinhat_1.featured_image %}
      {% block Post_moinhat_1_list_post_featured_image %}
      <a href="{{ Post_moinhat_1.get_absolute_url }}">
        <img width="100%" class="img-responsive img-blog" src="{{ MEDIA_URL }}{{ Post_moinhat_1.featured_image }}">
      </a>
      {% endblock %}
      {% endif %}
          <div class="blog-content">      
  {% block Post_moinhat_1_list_post_title %}  
    {% editable Post_moinhat_1.title %}
    <a><h3>{{ Post_moinhat_1.title }}</h3></a>
    {% endeditable %}
  {% endblock %}      
{% block Post_moinhat_1_list_post_metainfo %}
{% editable Post_moinhat_1.publish_date %}
   
                   <div class="entry-meta">
                                <span><i class="icon-user"></i> {% with Post_moinhat_1.user as author %}
                <a href="{% url "nhandinhthitruong:NhandinhTT_DexuatGD_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                {% endwith %}
                </span>
                <span><i class="icon-folder-close"></i>
                                {% with Post_moinhat_1.categories.all as categories %}
                {% if categories %}
                {% trans "chuyên mục" %}
                {% for category in categories %}
                <a href="{% url "nhandinhthitruong:NhandinhTT_DexuatGD_list_category" category.slug %}"><strong style="text-transform: uppercase;">
                "{{ category }}"  </strong></a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}                                
                                </span>
                                <span><i class="icon-calendar"></i> {% blocktrans with sometime=Post_moinhat_1.publish_date|timesince %}{{ sometime }} {% endblocktrans %}</span>
                                <span><i class="icon-comment"></i> 
                                {% if Post_moinhat_1.allow_comments %}              
                  {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                  <a href="{{ Post_moinhat_1.get_absolute_url }}#disqus_thread"
                    data-disqus-identifier="{% disqus_id_for Post_moinhat_1 %}">
                    {% trans "Comments" %}
                  </a>
                  {% else %}
                  <a href="{{ Post_moinhat_1.get_absolute_url }}#comments">
                    {% blocktrans count comments_count=Post_moinhat_1.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} nhận định khác{% endblocktrans %}
                  </a>
                  {% endif %}
                  {% endif %}                           
                                </span>
                            </div>
{% endeditable %}

{% endblock %}
              <div class= "facebook-share">
                    <div class="fb-share-button" data-href="https://www.ibrokervn.com{{Post_moinhat_1.get_absolute_url}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.ibrokervn.com%2Ftoidautu%2Fnhandinhthitruong%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a>
                    </div>
                    <div class="zalo-share-button" data-href="" data-oaid="579745863508352884" data-layout="1" data-color="blue" data-customize=false></div>

              </div>           
              </h3>
                    


            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="content-title" >
                    NHẬN ĐỊNH THỊ TRƯỜNG
                  <div class= "facebook-like">
                  <div class="fb-like" data-href="https://www.ibrokervn.com{{Post_moinhat_1.get_absolute_url}}" data-layout="button_count" data-ref data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
                  </div>
                  </div>


                  {% block Post_moinhat_1_detail_content %}
                  {% editable Post_moinhat_1.content %}
                  {{ Post_moinhat_1.content|richtext_filters }}
                  {% endeditable %}
                  {% endblock %}

                  
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                  <p class="text-center content-title" >
                    Đánh giá Thị trường
                  </p>
                    <div class="box-body no-padding">  
                      <!-- gauge.js -->                    
                      <div >             
                        <div>  
                           <div id="preview-textfield"></div>  
                          <canvas id="gauge" ></canvas>
                          <div id="cmtTT" >{{ Post_moinhat_1.do_manh }}</div>
                        </div>
                      </div>
                    </div>
                    <script>
                        var opts1 = {
                          angle: 0.08, // The span of the gauge arc
                          lineWidth: 0.44, // The line thickness
                            radiusScale: 1, // Relative radius
                          pointer: {
                            length: 0.6, // // Relative to gauge radius
                            strokeWidth: 0.035, // The thickness
                            color: '#000000' // Fill color
                          },
                          limitMax: false,     // If false, max value increases automatically if value > maxValue
                          limitMin: false,     // If true, the min value of the gauge will be fixed
                          colorStart: '#6FADCF',   // Colors
                          colorStop: '#23DA2F',    // just experiment with them
                          strokeColor: '#F2301B',  // to see which ones work best for you
                          generateGradient: true,
                          highDpiSupport: true,     // High resolution support
                          // renderTicks is Optional
                          renderTicks: {
                            divisions: 8,
                            divWidth: 1.2,
                            divLength: 0.59,
                            divColor: '#333333',
                            subDivisions: 4,
                            subLength: 0.26,
                            subWidth: 1,
                            subColor: '#666666'
                          }
                        };
                        var target = document.getElementById('gauge'); // your canvas element
                        var gauge = new Gauge(target).setOptions(opts1); // create sexy gauge!
                        gauge.setTextField(document.getElementById("preview-textfield"));
                        gauge.maxValue = 100; // set max gauge value
                        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        gauge.animationSpeed = 32; // set animation speed (32 is default value)
                        gauge.set({{ Post_moinhat_1.Streng }}); // set actual value                  
                      </script>
                      <!--NGÀNH DẪN DẮT THỊ TRƯƠNG -->  
                      {% if Post_moinhat_1.nganhdandattt_set.all %}
                      <table class="table" style="margin-top: 15px; ">
                          <thead>
                            <th style="width: 100px; text-align:center; ">Ngành dẫn dắt TT</th>
                            <th>Mức độ</th>
                            <th >CP nổi bật</th>
                          </thead>
                          {% for nganh in Post_moinhat_1.nganhdandattt_set.all %}
                          <tr>
                            <td>
                            <span class="badge bg-{{nganh.Mau}}">
                            {% editable nganh.Nganh %}
                            {{ nganh.Nganh}}
                            {% endeditable %}
                            </span>
                            </td>
                            <td>
                              <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar progress-bar-{{nganh.Mau}}" style="width:{{nganh.Mucdo}}%"></div>
                              </div>
                            </td>
                            <td>  {% editable nganh.CP_noibat %}{{nganh.CP_noibat}}  {% endeditable %}</td>
                          </tr>
                           {% endfor %}

                      </table>
                      {% endif %}

                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="Recommend-stock">
              <div class="row">
                {% if Post_moinhat_1.update_trade_set.all %} 

                    <!-- CỘT TRÁI --> 
                 <div class="col-md-6" >
                   <div class="box box-info box-solid">
                     <div class="box-header with-border">
                       <h3 class="box-title">ĐẦU TƯ NGẮN HẠN</h3>
                      </div>
                     <!-- /.box-header -->
                  
              <div class="box-body no-padding">
             
                <table class="table table-bordered">
                  <tr>
                    <th style="width: 10px; text-align:center;">Stock</th>
                    <th style="width: 80px; ">Trade</th>
                    <th style="width: 80px; text-align:center;">Giá KN</th>
                    <th style="width: 80px; text-align:center;">Cập nhật</th>
                    <th style="width: 80px; ">Lời/Lỗ</th>
                    <th style="text-align:center;">Độ mạnh</th>
                  </tr>
                  {% for stock in Post_moinhat_1.update_trade_set.all %} 
                  {% if stock.Stock.Style == "Ngắn hạn" %} 
                 
                  <tr>
                    <td>{{stock.title}}</td>
                    <td><span class="badge bg-{{stock.Color_Trade}}">{{stock.Trade}}</span></td>
                    <td style="text-align:center;">{{stock.Price_open}}</td>
                    <td style="text-align:center;">{{stock.Price_update}}</td>

                    <td style="text-align:center;"><span class="description-percentage text-{{stock.Gain_Loss.1}}"><i class="fa fa-caret-{{stock.Gain_Loss.2}}"></i> {{stock.Gain_Loss.0}}%</span></td>
                   

                
                    <td style="text-align:center;"><span class="badge bg-{{stock.Color_Trade}}">{{stock.Indicator}}%</span></td>
                  </tr>
                  {% endif %}  
                  {% endfor %} 

                </table>
              </div>
                     <!-- /.box-body -->              
                   </div>
                   <!-- /.box -->
                 </div>
                 <!-- /.col -->
            
              <!-- CỘT PHẢI -->      
              <div class="col-md-6" >
                <div class="box box-info box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title" >ĐẦU TƯ DÀI HẠN</h3>
                  </div>
                  <!-- /.box-header -->

              <div class="box-body no-padding">
                <table class="table table-bordered">
                  <tr>
                    <th style="width: 10px; text-align:center;">Stock</th>
                    <th style="width: 80px; ">Trade</th>
                    <th style="width: 80px; text-align:center;">Giá KN</th>
                    <th style="width: 80px; text-align:center;">Cập nhật</th>
                    <th style="width: 80px; ">Lời/Lỗ</th>
                    <th style="text-align:center;">Độ mạnh</th>
                  </tr>
                  {% for stock in Post_moinhat_1.update_trade_set.all %} 
                  {% if stock.Stock.Style == 'Dài hạn' %} 
                  <tr>
                    <td>{{stock.title}}</td>
                    <td><span class="badge bg-{{stock.Color_Trade}}">{{stock.Trade}}</span></td>
                    <td style="text-align:center;">{{stock.Price_open}}</td>
                    <td style="text-align:center;">{{stock.Price_update}}</td>



                    <td style="text-align:center;"><span class="description-percentage text-{{stock.Gain_Loss.1}}"><i class="fa fa-caret-{{stock.Gain_Loss.2}}"></i> {{stock.Gain_Loss.0}}%</span></td>
                
                    <td style="text-align:center;"><span class="badge bg-{{stock.Color_Trade}}">{{stock.Indicator}}%</span></td>
                  </tr>
                  {% endif %}  
                  {% endfor %} 

                </table>
              </div>
                      <!-- /.box-body -->              
                    </div>
                    <!-- /.box -->
                  </div>
                  <!-- /.col -->
            {% endif %}      
                  </div>    
              </div>
             
              <!-- /.Recommend-stock-->

            <div class="box-footer">
              <div class="row">
                {% block Post_moinhat_1_detail_keywords %}
                {% keywords_for Post_moinhat_1 as tags %}
                {% if tags %}
                {% spaceless %}
                <ul class="list-inline tags">
                    <li>{% trans "Tags" %}:</li>
                    {% for tag in tags %}
                     <a href="{% url "nhandinhthitruong:NhandinhTT_DexuatGD_list_tag" tag.slug %}" class="btn btn-xs btn-primary">{{ tag }}</a> &nbsp;
                    {% endfor %}
                </ul>
                {% endspaceless %}
                {% endif %}
                {% endblock %}
                
                {% block Post_moinhat_1_detail_rating %}
                <div class="panel panel-default rating">
                    <div class="panel-body">
                    {% rating_for Post_moinhat_1 %}
                    </div>
                </div>
                {% endblock %}

              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->



       <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">NHẬN ĐỊNH THỊ TRƯỜNG CỦA BẠN</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">


{% block Post_moinhat_1_detail_comments %}
{% if Post_moinhat_1.allow_comments %}{% comments_for Post_moinhat_1 %}{% endif %}
{% endblock %}




</div><!-- Kết thúc row -->

</section>
<!-- /.content -->

          

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
<!-- REQUIRED JS SCRIPTS -->


{% endblock javascripts %}