/* Global*/


body, html {
    width: 100%;
    height: 100%;
	font-family:'Open Sans', Arial, sans-serif;
	margin:0;	
	padding:0;
}

.wrap{
    position: relative;
	margin:0 auto;
	padding: 100px 0 0;
}

/* HEADER ######################################## */

header {
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index:8;
}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

.topBar {

    align-items: center;
    height: 50px;
    width: 100%;
    position: relative;
    top:0;
    z-index: 3;

    
}

.topBarInnerWrap {
    max-width: 1600px;   
    height: 100%;
    margin:0 auto;
    position: relative;
    vertical-align: middle;
    top: 4px;
}

.topBarLogo {
    height: 600px;
    
   
    padding: auto;

}


.topBarLogo img {
    max-width: 40%;
    height: auto;
    display: block
    cursor: pointer;
    margin: : auto;
}



.topBartools {
  position: absolute;  
  right:0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*

.navbara {
  background-color: #000;
  position: absolute;
  margin: 0;
  top: 40px;
  width: 100%;
  height: 40px;
  transition: top 0.3s;  
  align-items: center;
  z-index:0;
}

.navbar {
    max-width: 1600px;   
    height: 100%;
    margin:0 auto;
    font-size:17px;
    font-weight:300;
    line-height:38px;
}
.container{
    height: 100%;
}

.navbar-collapse {
    height: 38px;
}

.collapse{
    height: 38px;
}

.nav {
    height: 38px;
}
.navbar-nav {
    height: 38px;
}

@media (min-width: 992px) {
  .navbar .container {width:970px;}
}
@media (min-width: 1200px) {
  .navbar .container {width:1170px;}
}

@media (min-width: 1600px) {
  .navbar .container {width:1600px;}
}
/*
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;s
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
  height: 30px;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-form {
  margin: 0;
  padding: 0;
  height: 40px;
  position: relative;
  right: 1%;
  top: -9px;
  
  overflow: hidden;
  vertical-align: middle;

}

.form-group {

  margin: 0;
  padding: 0;
 
  
}

.form-control{
  height: 90%;
}


/* MAIN ######################################## */

main {
    
    background-color: #fff;
    height: 2000px;
    clear: both; 
}