 
    
          <div class="box box-info box-solid" style="text-align: center;">
            <div class="box-header with-border" style="height: 50px">
              <h3 class="box-title" >Tổng hợp GDNN</h3>
            </div>
            <!-- /.box-header -->

              <table class="table">
                <tr>
                  <th style="text-align: center">#</th>
                  <th style="text-align: center">GD Ròng</th>
                  <th style="text-align: center">GDKL Ròng </th>
                  <th style="text-align: center">GDTT Ròng</th>
                </tr>

                <tr>
                  <th style="color: #3c8dbc; text-align: center">5 Ngày</th>
                  <td style="text-align: center">{{GTGDRong5days.total}}</td>
                  <td style="text-align: center">{{GTGDKLRong5days.total}}</td>
                  <td style="text-align: center">{{GTGDTTRong5days.total}}</td>
                </tr>

                <tr>
                  <th style="color: #3c8dbc; text-align: center">20 Ngày</th>
                  <td style="text-align: center">{{GTGDRong20days.total}}</td>
                  <td style="text-align: center">{{GTGDKLRong20days.total}}</td>
                  <td style="text-align: center">{{GTGDTTRong20days.total}}</td>
                </tr>
                <tr>
                  <th style="color: #3c8dbc; text-align: center">40 Ngày</th>
                  <td style="text-align: center">{{GTGDRong40days.total}}</td>
                  <td style="text-align: center">{{GTGDKLRong40days.total}}</td>
                  <td style="text-align: center">{{GTGDTTRong40days.total}}</td>
                </tr>
                <tr>
                  <th style="color: #3c8dbc; text-align: center">60 Ngày</th>
                  <td style="text-align: center">{{GTGDRong60days.total}}</td>
                  <td style="text-align: center">{{GTGDKLRong60days.total}}</td>
                  <td style="text-align: center">{{GTGDTTRong60days.total}}</td>
                </tr>

              </table>
          </div>
            <!-- /.box-body -->

  