/* page Trang Tong hop thong tin */

#preview-textfield{
  position: relative; top: 10px; left: 0; right: 0;
  text-align: center; font-size: 2em; font-weight: bold;
  color: black; font-family: 'Amaranth', sans-serif;
}

#gauge {
	display: block;  
    top: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#cmtTT{
  position: relative; top: 10px; left: 0; right: 0;
  text-align: center; font-size: 2em; font-weight: bold;
  color: black; font-family: 'Amaranth', sans-serif;
} 

/* page GDNN */

 div.tkggnn {
 width: 100%;
 position: relative;               
             }              

 div.tkggnn .col-md-6 {
     position: relative;
     float: none;
     margin-left: auto;
     margin-right: auto;
 }


