{% extends "starter_iBrokerVN.html" %}

{% block title %} CHIẾN LƯỢC GIAO DỊCH {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/vendors/DataTables/datatables.min.css"/>
  
{% endblock stylesheets %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Thông tin Vĩ mô
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="thongtinvimo"><i class="fa fa-table"></i>TT Vĩ mô</a></li><li class="active"></li><i class="fa fa-eye"></i>    {{views.viewed_list_Vimo}}
  </ol>
</section>
 <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <p style="text-align: justify; ">Các thông tin vĩ mô trong và ngoài nước có tác động dến toàn thị trường chứng khoán theo nhiều chiều và với các mức độ khác nhau. Để cung cấp góc nhìn bao quát thị trường iBrokerVN tổng hợp các thông tin quan trọng sau:</p>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <table id="example1" class="display nowrap" style="width:100%">
                      <thead>
                          <tr>
                              <th>Thông tin </th>
                              <th style="width: 10px; text-align: center; ">AH</th>
                              <th style="width: 200px">Mức độ</th>
                              <th style="width: 10px">Ngày</th>
                              <th>CP bị ảnh hưởng</th>
                              <th style="width: 10px; text-align: center;">Còn AH?</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for post in Post %}
                          <tr  >
                              <td>{{post.Tenthongtin}}</td>
                              <td style="text-align: center" >
                                  <span class="badge bg-{{post.AH}}">{{post.anh_huong}}</span>
                              </td>
                              <td class="progress progress-xs progress-striped active">
                                  <div class="progress-bar progress-bar-{{post.AH}}" style="  height:10px;  width: {{post.Mucdo}}%;"></div>
                              </td>
                              <td>{{post.publish|date:"d/m/y"}}</td>
                              <td>{{post.CP_anhhuong}}</td>
                              <td style=" text-align: center; font-size: 15px; color: #0cc10c;">

                                {% if post.dang_AH %}
                                  &#10004;
                                {% endif %}

                              </td>
                                </tr>
                      {% endfor %}

                      </tbody>
                  
                      <tfoot>
                          <tr>
                              <th>Thông tin </th>
                              <th style=" text-align: center; ">    Ảnh hưởng</th>
                              <th>Mức độ</th>
                              <th>Ngày</th>
                              <th>CP bị ảnh hưởng</th>
                              <th style=" text-align: center;">Còn AH?</th>
                          </tr>
                      </tfoot>
          </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
            <!-- /.content-wrapper -->
          

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
<!-- REQUIRED JS SCRIPTS -->
<script type="text/javascript" src="/static/vendors/DataTables/datatables.min.js"></script>

<script>
  $(function () {
 
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
      "scrollX"     : true,
      
     
          })
      })


</script>

{% endblock javascripts %}